#nav-bar {
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em 0px 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
  line-height: 2.5em;
  padding-left: 10px;
}