.container .new-tweet {
  background-color: #e5e5e5;
  border: solid #bfbfbf;
  border-width: thin;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 10px;
  display: none;
}

.container .new-tweet #textBox {
  width: 365px;
  height: 70px;
}

.container .new-tweet h2 {
  margin: 0;
  border-bottom: solid;
  border-width: thin;
  margin-bottom: 20px;
}

.container .counter {
  float: right;
}

.container .errorMessage {
  color: red;
}

.container #notEnough {
  display: none;
}

.container #tooMany {
  display: none;
}