.container article {
  background-color: #e5e5e5;
  border: solid #bfbfbf;
  border-width: thin;
  border-radius: 10px;
  margin: 20px auto 0;
  opacity: .5;
}

.container article:hover {
  opacity: 1;
}

.container article:hover footer div {
  opacity: 1;
}

.container article header {
  background-color: #e5e5e5;
  padding: 0;
  height: 50px;
  width: 100%;
  border-width: thin;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container article header h2 {
  padding: 10px;
  margin: 0;
  float: left
}

.container article h3 {
  font-weight: normal;
  margin: 0;
  padding: 30px 10px 30px 10px;
  background-color: white;
  word-wrap: break-word;
}

.container article footer {
  background-color: white;
  margin: 0;
  padding: 0 10px 0 10px;
  height: 30px;
  width: 100%;
  border-top: solid #bfbfbf;
  border-width: thin;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container article footer p {
  float: left;
  width: 20%;
  font-size: .8em;
  margin: 5px 0 5px 0;
}


.container article footer div {
  width: 31%;
  float: right;
  opacity: 0;
  padding: 5px 0 0 5px;
}

.container article header p {
  padding: 10px;
  margin: 0;
  float: right;
}

.container article footer #buttons a {
  margin: 0 8px 0 8px;
  text-decoration: none;
  color: #00a087;
}